[submodule "kernel"]
	path = kernel
	url = https://github.com/CalcProgrammer1/android_kernel_samsung_msm8660-common
[submodule "backports"]
	path = backports
	url = https://github.com/CalcProgrammer1/backports-3.10-2
